body {
  background: lightyellow;
  text-align: center;
  font-family: "Courier New";
}

li {
  list-style-type: none;
}

#barcode-scale {
  min-width: 100px;
  width: 50vw;
  max-width: 300px;
}

.hidden {
  display: none;
}